{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Salary Management Administration{% if app_version %} <small style="font-size:0.55em;opacity:0.6;font-weight:normal;">v{{ app_version }}</small>{% endif %}
    </a>
</h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if site_config.favicon %}
    <link rel="icon" href="{{ site_config.favicon.url }}">
{% else %}
    <link rel="icon" type="image/x-icon" href="{% static 'employees/img/favicon.ico' %}">
{% endif %}
{% endblock %}