{% extends 'employees/base.html' %}
{% load i18n %}

{% block title %}{% trans "Salary for" %} {{ employee.name }} - {% trans "Salary Management" %}{% endblock %}

{% block content %}
<h1>{% trans "Salary for" %} {{ employee.name }}</h1>

<form method="get" class="form-inline mb-4">
    <div class="form-group mr-2">
        <label for="year" class="mr-2">{% trans "Year" %}:</label>
        <input type="number" name="year" id="year" value="{{ year }}" class="form-control">
    </div>
    <div class="form-group mr-2">
        <label for="month" class="mr-2">{% trans "Month" %}:</label>
        <input type="number" name="month" id="month" value="{{ month }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Calculate" %}</button>
</form>

{% if salary is not None %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">{% trans "Salary Breakdown for" %} {{ year }}-{{ month }}</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">{% trans "Base Salary" %}</th>
                        <td>${{ salary.base_salary|floatformat:2 }}</td>
                        <td colspan="2"><em>({% trans "Calculation basis" %}: {% trans salary.calculation_basis|capfirst %})</em></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Payment for Hours Worked" %}</th>
                        <td>${{ salary.work_pay|floatformat:2 }}</td>
                        <td>{{ salary.total_hours_worked|floatformat:2 }} {% trans "hours" %}</td>
                        <td>@ ${{ salary.hourly_rate|floatformat:2 }}/{% trans "hour" %}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Overtime Pay" %}</th>
                        <td>${{ salary.overtime_pay|floatformat:2 }}</td>
                        <td>{{ salary.total_overtime_hours|floatformat:2 }} {% trans "hours" %}</td>
                        <td>@ ${{ salary.overtime_rate|floatformat:4 }}/{% trans "hour" %}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Performance Bonus" %}</th>
                        <td colspan="3">${{ salary.performance_bonus|floatformat:2 }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-active">
                        <th scope="row" class="text-right">{% trans "Total Salary" %}</th>
                        <th colspan="3">${{ salary.total_salary|floatformat:2 }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        {% trans "Could not calculate salary. Please make sure the employee has a base salary and work logs for the selected period." %}
    </div>
{% endif %}

{% endblock %}
